@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Josefin+Sans:wght@400&family=Nova+Round&display=swap');

$nova: 'Nova Round', cursive;
$dosis: 'Dosis', sans-serif;
$josefin: 'Josefin Sans', serif;

$white: #ddd;
$black: black;
$dark_grey: black;
$user_green: #2a6637;
$user_red: #d15050;
$nav_color: $user_green;
$nav_color_l: #48b15f;
$nav_color_2: $user_red;
$nav_text: #eee;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin btn-anim {
    background: $user_red;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: $white;
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: $borderRadius;
    margin-top: 25px;
    cursor: pointer;
    letter-spacing: 2.5px;
    transition: all 0.3s ease 0s;
    outline: none;
}

@mixin btn-anim-hover {
    background-color: $user_red;
    box-shadow: 0px 10px 15px rgba($user_red, 0.4);
    transform: translateY(-3px);
}

@mixin btn-anim-active {
    transform: translateY(-1px);
}


html{
    background-color: $dark_grey;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $white
}

body {
    font-family: $nova;
    color: $dark_grey;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $dark_grey;
    cursor: pointer;
}
