@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Josefin+Sans:wght@400&family=Nova+Round&display=swap');

$nova: 'Nova Round', cursive;
$dosis: 'Dosis', sans-serif;
$josefin: 'Josefin Sans', serif;

$white: #ddd;
$black: black;
$dark_grey: rgb(36, 36, 36);
$user_green: #2a6637;
$user_red: #d15050;
$nav_color: $user_green;
$nav_color_l: #48b15f;
$nav_color_2: $user_red;
$nav_text: #eee;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin btn-anim {
	background-color: #60797c;
	border: 1px solid rgba(27, 31, 35, .15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	padding: 6px 10px;
	position: relative;
	text-align: center;
	user-select: none;
	vertical-align: middle;
}

@mixin btn-anim-hover {
	background-color: $user_red;
	transform: translateY(-1px);
}

@mixin btn-anim-active {
	transform: translateY(-1px);
}


html {
	background-color: $dark_grey;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: $white
}

body {
	font-family: $nova;
	color: $dark_grey;
}

button {
	@include btn-anim;
	cursor: pointer;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: $dark_grey;
	cursor: pointer;
}