
.directmessageauthor {
  color: lightslategray;
  font-size: 15px;
  text-align: left;
}

.directmessagedate {
  color: grey;
  font-size: 10px;
  text-align: left;
}

.directmessagemessage {
  color: rgb(255, 255, 255);
  font-size: 13px;
  text-align: right;
}