@import "../../styles/settings";

.authentification-container {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 75vh;
  justify-content: center;
  align-items: center;

  h1 {
    display: flex;
    width: 100%;
  }
}

input::placeholder,
input {
  color: black;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
}

.sign-up-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  border-bottom: 1px white solid;
  // padding-bottom: 2vh;
  margin-bottom: 2vh;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 100%;
    }

    .submit-upload {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .upload {
        @include btn-anim;
        margin-bottom: 10px;
      }

      .upload:hover {
        @include btn-anim-hover;
        background-color: #2b3536;
      }
    }

    .login-btn,
    .submit-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.sign-in-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 100%;
    }

    .login-btn,
    .submit-btn {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.login-btn,
.submit-btn {
  @include btn-anim;
  background-color: $user_green;
}

.login-btn:hover,
.submit-btn:hover {
  @include btn-anim-hover;
  background-color: #183b1f;
}

input[type="file"] {
  display: none;
}

.g-auth-logo,
.school-logo {
  width: 50px;
}
