@import '../../styles/settings';

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  margin-bottom: 5vh;
  .title {
    position: absolute;
    left: 50px;
    
    span {
      padding-left: 5px;
    }
  }

  .nav-links {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a.active {      
      span {
        color: grey;
        font-weight: 900;
      }
      i {
        color: grey;
      }
    }
    span {
      padding-left: 5px;
    }

  }
  
  .logout-btn {
    font-family: $nova;
    background-color: transparent;
    box-shadow: none;
    border: 1px white solid;
    position: absolute;
    right: 50px;
  }
  
  .menu {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .title {
    display: none;
  }
  .navbar {
   justify-content: flex-start;
   margin-left: 50px;
  }
  .nav-links {
    i {
      display: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .title {
    display: block;
  }
  .navbar {
   justify-content: flex-start;
   margin-left: 50px;
  
   .nav-links {
     display: none;
    }
  
    .menu {
      display: block;
      position: absolute;
      right: 50px;
      font-size: 25px;
      cursor: pointer;
    }
  }
}