@import '../../styles/settings';

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  //height: 50px;
  //padding: 0 5rem;
  background-color: $nav_color;
  color: $nav_text;
  margin-bottom: 2rem;

  .title {
    font-size: 25px;
    //padding-right: 1rem;
    flex-grow: 2;
    margin-top: 0.5em;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    //align-self: auto;
    flex-grow: 1;

    .navItem {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-self: flex-start;
      margin: 1em;

      .navList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;

        .navListItem {
          margin-top: 1em;
          justify-content: flex-start;
        }
      }
    }
  }
}

nav span {
  margin: 0 2rem 0 0.5rem;
  color: $nav_text;
}
