.register-container h2 {
    color: rgb(251, 249, 251);
    font-family: 'Cookie', cursive;
    font-size: 50px;
    text-align: center;
}


.register-container h3 {
    color: rgb(0, 0, 0);
    font-family: 'Cookie', cursive;
    font-size: 50px;
    text-align: center;

}

.register-container button {
    width: 19rem;
    height: 3rem;
    border-radius: 0.5rem;
    color: var(--color-light);
    border: 0;
    position: relative;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
    background-color: green;
    top: 60%;
    left: 37%;

}

.register-container button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.register-container button:hover span:after {
    opacity: 1;
    right: 0;
}

.register-container button:hover {
    background-color: #f7c2f9;
}

.register-container button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.register-container button:hover span {
    padding-right: 25px;
}