.Join_game{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	.leftside_game{
		display: flex;
		flex-direction: column;
		overflow: auto;
		max-width: 300px;
		.game-container{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			//gap: 1rem;
			border-radius: 1rem;
			padding: 1rem;
			height: 200px;
			min-height: 90vh;
			border: 1px solid white;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			overflow: auto;
			.Join_game_button{
				border-top: 1px solid white;
				align-items: center;
				text-align: center;
			}
			.Matching_queue{
				border-bottom: 1px solid white;
			}
		}
	
	}
}


.invitPopup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.invitPopup-inner .close-btn {
	position: absolute;
	top: 16px;
	right: 16px;
}
