@import '../../styles/settings';
.Join_game {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

	.leftside_game {
		display: flex;
		flex-direction: column;
		overflow: auto;
		max-width: 300px;

		.game-container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			//gap: 1rem;
			border-radius: 1rem;
			padding: 1rem;
			height: 200px;
			min-width: 10vh;
			min-height: 20vh;
			border: 1px solid white;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			overflow: auto;
			.Join_game_button {
				border-bottom: 1px solid white;
				text-align: center;
				.pong_join_game{
					text-align: right;
					.pong_button {
							text-align: right;
							background-color: black;
							border-bottom: 0px;
							border-top: 0px;
							border-left: 0px;
							border-right: 0px;
							font-size: 20px;
							.Matching_queue {
									text-align: center;
								}
						}
				}
			}
		}

	}
}

.invitPopup {
	position: fixed;
	display: inline-block;
	background-color: black;
	width: 200px;
	height: 200px;
	border-radius: 10px;
	padding: 10px 0;
	bottom: 125%;
	left: 50%;
	margin-left: -100px;
	top: 400px;
	border: 1px solid white;

	.Title_popup {
		text-align: center;
		padding: 10px 0;
		.btn {
				align-items: center;
				padding: 30px 0;
				justify-content: space-between;
				.btn_accept{
					@include btn-anim;
					padding: 10px 10px 10px 10px;
					text-align: center;
				}
				.btn_close{
					@include btn-anim;
					padding: 10px 10px 10px 10px;
				}

			}
		
	}
}
