@import '../../styles/settings';

.color {
	margin: 2rem;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	input {
		margin-top: 1rem;
	}
	.background-color {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.pad-ball-color {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.gameMode {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	button {
		margin-top: 1%;
		padding: 1%;
		border-radius: 15px;
		width: 15%;
		background-color: inherit;
		border: solid 1px white;
		font-weight: 600;
	}
	button:active {
		transform: translateY(-1px);
	}
}
