.messageInput{
        text-align: center;
    textarea{
		outline: none;
		font-family: inherit;
		border-radius: 10px;
		background-color: transparent;
        //resize: none;
        width: 565px;
    }
}