.home-container {
    width: 1200px;
    margin: 0 auto;
}

.home-container h1 {
    text-align: center;
    color: rgb(251, 249, 251);
    font-family: 'Cookie', cursive;
    font-size: 90px;
}

.home-container p {
    text-align: center;
    color: rgb(251, 249, 251);
    font-family: 'Cookie', cursive;
    font-size: 30px;
}


.home-container h2 {
    text-align: right;
}

.home-container .login-container__separator h3 {
    color: rgb(251, 249, 251);
    width: 300px;
    font-family: 'Cookie', cursive;
}


.home-container>.login-container__separator .login-form .final-text .p {
    font-family: 'Cookie', cursive;
    text-align: start;
}

.home-container h3 {
    text-align: center;
}

.home-container button {
    width: 19rem;
    height: 3rem;
    border-radius: 0.5rem;
    color: var(--color-light);
    border: 0;
    position: relative;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
    background-color: green;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

button:hover {
    background-color: #f7c2f9;
}

button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

body {
    background-color: black
}