.createUserContent {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;

	label {
		text-align: left;
		display: block;
	}

	h3 {
		font-size: 20px;
		margin-bottom: 30px;
	}

	input {
		width: 100%;
		padding: 6px 10px;
		margin: 10px 0;
		border: 1px solid $white;
		box-sizing: border-box;
		display: block;
		border-radius: 8px;
		color: $dark_grey;
	}

	input[type="file"]{
		display: none;
	}

	.upload {
		@include btn-anim;
		width: 50%;
		text-align: center;
		color: $white;
		margin: 20px 0 0 100px;
		background-color: $user_green;
		text-transform: none;
		letter-spacing: normal;
	}

	.upload:hover {
		@include btn-anim-hover;
		background-color: $user_green;
		box-shadow: 0px 10px 15px rgba($user_green, 0.4);
	}

	.upload:active {
		@include btn-anim-active;
	}

	button {
		@include btn-anim;
	}

	button:hover {
		@include btn-anim-hover
	}

	button:active {
		@include btn-anim-active
	}
}

