.createUser {
	margin-top: 50px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	form {
		width: 300px;
		margin: 0 auto;
		margin-left: 300px;
		text-align: center;
		label {
			text-align: left;
			display: block;
		}
		input {
			width: 100%;
			padding: 6px 10px;
			margin: 10px 0;
			border: 1px solid $white;
			box-sizing: border-box;
			display: block;
			border-radius: 8px;
			color: $dark_grey;
		}

		input[type="file"]{
			display: none;
		}

		.upload {
			@include btn-anim;
			background-color: $user_green;
			text-align: center;
			text-transform: none;
			letter-spacing: normal;
		}

		.upload:hover {
			@include btn-anim-hover;
			background-color: $user_green;
			box-shadow: 0px 10px 15px rgba($user_green, 0.4);
		}

		.upload:active {
			@include btn-anim-active;
		}
	}
	.or {
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 700;
	}
}

button {
	@include btn-anim;
}

button:hover {
	@include btn-anim-hover
}

button:active {
	@include btn-anim-active
}

.login-btn {
	margin-right: 300px;
	background-color: $user_green;

	p {
		margin-bottom: 5px;
	}

	img {
		width: 25px
	}
}

.login-btn:hover{
	background-color: $user_green;
	box-shadow: 0px 10px 15px rgba($user_green, 0.4);
}

@media only screen and (max-width: 800px) {
	.createUser {
		flex-direction: column;
		form, .login-btn{
			margin-left: 0;
			margin-right: 0;
		}
		.login-btn {
			margin-top: 0;
		}
	}
	.or {
		margin: 20px 0 20px 0;
	}
}