.createUserContent {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;

	label {
		text-align: left;
		display: block;
	}

	h3 {
		font-size: 20px;
		margin-bottom: 30px;
	}

	input {
		width: 100%;
		padding: 6px 10px;
		margin: 10px 0;
		border: 1px solid $white;
		box-sizing: border-box;
		display: block;
		border-radius: 8px;
		color: $dark_grey;
	}
	button {
		background: $user_red;
		font-size: 12px;
		text-transform: uppercase;
		color: $white;
		border: none;
		padding: 10px 25px 10px 25px;
		border-radius: 8px;
		margin-top: 25px;
		cursor: pointer;
	}

	input[type="file"]{
		display: none;
	}

	.upload {
		width: 50%;
		text-align: center;
		background-color: $user_green;
		color: $white;
		border: none;
		padding: 5px 15px 5px 15px;
		border-radius: 8px;
		margin: 20px 0 0 100px;
		cursor: pointer;
	}
}

